div(class='row Friends-list') 
  h4 活跃用户
  hr 
  ul
      each item,i in hotusers
          li 
              a(href='/user/profile/#{item.id}')
                  img(src='#{item.avatarUrl}',class="img-rounded",alt='#{item.nick}')
              span 
                small #{item.nick}
