extends ../common/layout
block content
  div(class='container')
    h6 1.什么是兔耳日记?
    p 我们坚信每个人的生活都有一些小时光值得被记录，希望通过网站能唤起人们用文字记录生活的这种被遗忘很久的习惯。
    h6 2.兔耳日记能做什么?
    p 目前来看，这里可以自由的来写一些纯文字的日记或者带图文混排的一些日记，做一些计划，并结交好友，更多的计划还在进行中。
    h6 3.联系或者加入兔耳.
    p 开发者小爝的邮箱 designsor#gmail.com [请把#换成@]
    h6 4.如果你对兔耳有兴趣，想投放广告或者寻求合作怎么办？
    p 随时给我发邮件吧 designsor#gmail.com [请把#换成@]
    h6 5.捐赠兔耳
    p
      img(src="http://img.tuer.me/simg/1145/0f0ddd20-efb6-11e3-ad04-0b11fde71ada.png?w=160&h=160",title='捐赠兔耳')
    p
      请用手机扫码捐赠爱心吧~
    include ../common/footer
  script
    seajs.use('mods/reg');
  
